/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/public/assets
/coverage/
.env
.env.*
!.env.example
.DS_Store
byebug_history
/vendor/bundle
/.bundle

# Ignore master key for decrypting credentials and more.
/config/master.key
/.backup
